#home{
  width: 40px;
  height: 40px;
}

.navbar {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  min-height: 40px; 
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background-color: #f8f9fa;
}

