.carousel-nav {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.carousel-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.carousel-tab .label {
  font-weight: bold;
  color: black;
}

.carousel-tab .bar {
  width: 70px;
  height: 1.5px;
  background-color: rgba(234, 233, 233, 0.908);
  margin-top: 5px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.carousel-tab .label.active + .bar {
  background-color: black;
}


.item-img {
  width: 0px;
  height: auto;
  margin-bottom: 5px;
}



html, body, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

.carousel,
.carousel-inner,
.carousel-item,
.carousel-item img {
  width: 100vw;
  max-width: 100vw;
  height: auto;
}

.carousel-item img {
  display: block;
  width: 100vw;
  height: auto;
  object-fit: cover;
}

#root,
#carouselExampleCaptions,
.carousel,
.carousel-inner {
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

